# Think Python Chapter 2 Exercise 1

### Weâ€™ve seen that n = 42 is legal. What about 42 = n?

In [1]:
# If n = 42 is allowed, is 42 = n allowed? NO!
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2803774094.py, line 1)

### How about x = y = 1?

In [3]:
# x = y = 1 is allowed. Each x and y are given the value of 1
x = y = 1
print(x)
print(y)
print(x +y)

1
1
2

### In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

In [15]:
# Get expected behavior of assigning a number
n = 17
print(n)

17

In [16]:
# Get expected behavior of assigning a string
name = "Bob"
print(name)

Bob

In [17]:
# Adding a semicolon appears to do nothing to a number
n = 17;
print(n)

17

In [18]:
# Adding a semicolon appears to do nothing to a string
name = "Bob";
print(name)

Bob

### What if you put a period at the end of a statement?

In [6]:
# Adding a period appears to do nothing to a number
n = 17.

In [19]:
# Adding a period after the string creates an error
name = "Bob". 
print(name)

SyntaxError: invalid syntax (455206918.py, line 2)

### In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [20]:
# Allowed multiplication syntax
x*y

1

In [21]:
# This is not allowed
x y

SyntaxError: invalid syntax (2889334992.py, line 2)